* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  background-color: bisque;
  height: 300px;
  width: 550px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}
.click{
  background-color: red;
  color: white;
  position: absolute;
  top: 0;
  height: 30%;
  width: 100%;
}