*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html , body{
    height: 100%;
    width: 100%;
}
.container{
  height: 100vh;
  width: 100vw;
  background-color: black;
  color: whitesmoke;
  display: flex;
  gap: 2rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
h1{
  color: #9e9a9a;
  font-weight: 400;
  font-size: 2.5rem;
}
button{
  color: white;
  background-color: #333;
  padding: 0.9rem 2rem;
  border: none;
  border-radius: 2rem;
  transition: all ease-in-out 0.2s;
}
button:active{
  scale: 1.1;
  background-color: rgb(79, 43, 43);
  color: yellowgreen;
}