* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 4rem;
  background-color:black;
  padding: 2rem;
}

.card {
  width: 300px;
  height: 400px;
  border-radius: 2rem;
  background-color: #0D1A2D;
  padding: 0.5rem;
  position: relative;
  box-shadow: 0px 0px 30px rgba(255, 255, 255, 0.522);
}

.top {
  width: 100%;
  height: 40%;
  border-radius: 2rem;
  /* overflow: hidden; */
  background-position: center;
  background-size: cover;
  position: relative;
}

.top img {
  width: 100%;
  height: 100%;
  border-radius: 2rem;
}

.top .imc {
  height: 100px;
  width: 100px;
  position: absolute;
  top: 60%;
  left: 33%;
  border-top: 2px solid white;
  border-left: 2px solid white;
  border-right: 2px solid white;
  border-radius: 50%;
  box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.986);
}

.top .imc img {
  height: 100%;
  width: 100%;
  border-radius: 50%;
  background-position: center;
  background-size: cover;
}

.bottom {
  width: 100%;
  height: 60%;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  gap: 0.5rem;
  text-align: center;
  margin-top: 1rem;
}

.bottom .cont {
  width: 100%;
  height: 40%;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 1rem;
  gap: 2rem;
  text-align: center;
}

.bottom .text h2 {
  font-weight: 500;
}

.bottom .text p {
  color: gray;
  font-weight: 250;
}

.bottom .cont h2 {
  font-size: 1.2rem;
  font-weight: 500;
}

.bottom .cont h3 {
  font-size: 1rem;
  font-weight: 400;
  color: gray;
}

.icons {
  display: flex;
  gap: 2rem;
  cursor: pointer;
}