*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html , body{
    height: 100%;
    width: 100%;
}
.container{
  background-color: #333;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 2.5rem;
  min-height: 100vh;
  max-width: 100vw;
  padding: 2rem;
}
.box{
  height: 70px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #2c2c2c;
}
.container .box button{
  padding: 0.6rem 2rem;
  font-size: 1.2rem;
  font-weight: 600;
  background-color:#333;
  border: none;
  border-radius: 2rem;
  text-transform: uppercase;
  transition: all ease-in-out 0.2s;
}
.container .box button:active{
  scale: 0.9;
  background-color: black;
}

.cont{
  height: 220px;
  width: 200px;
  padding: 1.5rem;
  text-align: center;
  background-color: #2c2c2c;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 0px 3rem rgb(105, 105, 105);
  border-radius: 1rem;
}
.cont img{
  height: 100px;
  width: 100px;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
}
.cont h1{
  font-size: 1.1rem;
  font-weight: 400;
}
