* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

.container {
  height: 100vh;
  width: 100vw;
  background-color: rgb(56, 55, 55);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.box {
  height: 300px;
  width: 500px;
  background-color: bisque;
  color: black;
  display: flex;
  gap: 1rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.box button{
  font-size: 1.2rem;
  font-weight: 600;
  padding: 0.5rem 1.5rem;
  border: none;
  border-radius: 2rem;
  background-color: chartreuse;
  color: black;
  transition: all ease 0.3;
}
button:active{
  scale: 0.9;
}
.but{
  display: flex;
  gap: 1rem;
}