* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container {
  height: 100vh;
  width: 100vw;
  background-color: rgb(46, 45, 44);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: rgba(245, 245, 245, 0.747);
}

h1 {
  transition: all ease-in-out 0.4s;
}

.ani:hover h1 {
  scale: 1.1;
}

.ho {
  text-align: center;
}

.ho h1 {
  width: 60%;
}

.ho h1 span {
  color: yellowgreen;
}

.ho h1 h2 {
  color: orangered;
  font-size: 2.1rem;
}

.ab {
  text-align: center;
}

.ab h1 {
  color: chartreuse;
}

.container h1 {
  text-decoration: underline;
  text-decoration-color: rgba(128, 127, 127, 0.548);
}

.navbar {
  height: 10%;
  width: 100%;
  padding-inline: 10rem;
  background-color: rgb(69, 65, 65);
  display: flex;
  gap: 2rem;
  align-items: center;
  justify-content: space-between;
}

.box h1 {
  font-size: 1.3rem;
  line-height: 1;
  text-decoration: none;
}

.box2 {
  display: flex;
  gap: 2rem;
}

.navbar:hover h1 {
  color: greenyellow;
}

.navbar a {
  text-decoration: none;
  color: whitesmoke;
  font-size: 1.2rem;
  font-weight: 600;
  background-color: #333;
  padding: 0.2rem 1rem;
  border-radius: 2rem;
  transition: all ease-in-out 0.3s;
}

.navbar a:hover {
  color: greenyellow;
  background-color: rgb(32, 32, 32);
  scale: 1.1;
}

.co {
  position: relative;
  text-align: center;
}

.co h1 {
  color: greenyellow;
}

.aan {
  text-decoration: none;
  color: whitesmoke;
  font-size: 1.2rem;
  font-weight: 600;
  background-color: #333;
  padding: 0.2rem 1rem;
  border-radius: 2rem;
  margin-top: 4rem;
  transition: all ease-in-out 0.3s;
}

.aan:hover {
  color: greenyellow;
  background-color: rgb(32, 32, 32);
  scale: 1.1;
}

.sale {
  width: 100%;
  position: absolute;
  top: 0;
  display: flex;
  gap: 2rem;
  background-color: red;
  margin-top: 1rem;
  padding-inline: 12rem;
}
 .nes{
  display: flex;
  flex-direction: column;
  gap: 3rem;
 }