* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container {
  background-color: black;
  color: white;
  min-height: 100vh;
  max-width: 100vw;
  display: flex;
  gap: 2rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

.box {
  background-color: #1a1919;
  height: 400px;
  max-width: 450px;
  padding: 2rem;
  border-radius: 2rem;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.box form {
  height: 100%;
  width: 100%;
  display: flex;
  gap: 1rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.box form input {
  border: none;
  padding: 0.5rem 3rem;
  font-size: 1.1rem;
  font-weight: 600;
  background-color: #333;
  color: whitesmoke;
}

.box form button {
  font-size: 1.1rem;
  font-weight: 600;
  padding: 0.4rem 1.5rem;
  border: none;
  background-color: #333;
  color: whitesmoke;
  border-radius: 2rem;
  transition: all ease-in-out 0.3s;
}

.box form button:active {
  scale: 1.1;
  background-color: aquamarine;
  color: black;
  font-size: 1.1rem;
  font-weight: 600;
}

.box2 {
  color: white;
  height: 450px;
  width: 350px;
  border-radius: 2rem;
  background-color: #1a1919;
  padding: 2rem;
  display: flex;
  gap: 0.5rem;
  flex-direction: column;
  align-items: center;
}

.box2 img {
  height: 200px;
  width: 200px;
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
  box-shadow: 0px 0px 40px darkorange;
}
.box2 h1{
  font-size: 1.6rem;
  text-transform: uppercase;
  color: darkorange;
}
.box2 h2{
  font-size: 1.6rem;
  font-weight: 600;
}
.box2 h3{
  font-size: 1.5rem;
  font-weight: 600;
}
.box2 button {
  font-size: 1.1rem;
  font-weight: 600;
  padding: 0.4rem 1.5rem;
  border: none;
  background-color: #000000;
  color: whitesmoke;
  border-radius: 2rem;
  transition: all ease-in-out 0.3s;
}

.box2 button:active {
  scale: 1.1;
  background-color: aquamarine;
  color: black;
  font-size: 1.1rem;
  font-weight: 600;
}